<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd">

    <!--  JdbcTemplate needs the object of DriverManagerDataSource so   -->
    <!-- Injecting the bean of DriverManagerDataSource into JdbcTemplate  -->

    <bean class="org.springframework.jdbc.datasource.DriverManagerDataSource" name="driverManagerDataSource">
        <property name="driverClassName" value="org.postgresql.Driver"/>
        <property name="url" value="jdbc:postgresql://localhost:5432/springframework2_springjdbc"/>
        <property name="username" value="govind"/>
        <property name="password" value="govind"/>
    </bean>


    <bean class="org.springframework.jdbc.core.JdbcTemplate" name="jdbcTemplate">
        <property name="dataSource" ref="driverManagerDataSource"/>
    </bean>


    <!--  Injecting the bean of JdbcTemplate into StudentDao class  -->
    <bean class="com.govind.dao.StudentDao" name="studentDao">
        <property name="template" ref="jdbcTemplate"/>
    </bean>

</beans>